<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- 系统配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:mainapplicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>express</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>express</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- 解决中文乱码 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<context-param>
		<param-name>hzlog4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	
	<!--启动一个watchdog线程每1800秒扫描一下log4j配置文件的变化 -->
	<context-param>
		<param-name>hzlog4jRefreshInterval</param-name>
		<param-value>1800000</param-value>
	</context-param>
	
	<!--spring log4j监听器 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>news/newsAdd.do</welcome-file>
	</welcome-file-list>
	
	<filter>  
	    <filter-name>SecurityServlet</filter-name>  
	    <filter-class>com.express.util.SecurityServlet</filter-class>  
	</filter>  
	<filter-mapping>  
	    <filter-name>SecurityServlet</filter-name>  
	    <url-pattern>*.do</url-pattern>  
	</filter-mapping>
	<filter-mapping>  
	    <filter-name>SecurityServlet</filter-name>  
	    <url-pattern>*.jsp</url-pattern>  
	</filter-mapping>
</web-app>